  *{
    margin: 0;
    padding: 0;
  }
  body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
  }
  .sobre{
    margin-top: 2.5em;
    width: 900px;
    margin: 0 auto;

  }
  .sobre h1
  .sobre h2{
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  .sobre h1{
    font-size: 2.3em;
  }
  .sobre h2{
    border-top: 1px solid #ccc;
    margin-top: 2.5em;
    padding-top: 1.3em;
  }
  .sobre p{
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
  }
  .contato p{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0em;
  }
  .contato{
    margin-top: 2.5em;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 3.8em 0  ;
  }
  .contato a{
    margin-top: 2em;
    width: 900px;
    margin: 0 auto;
    color: red;
    font-size: 1.2em;
    text-align: center;
  }
  footer{
    margin-top: 3em;
    padding: 2em 0;
    background-color: #f2f2f2;
    color: #888;
    font-size: 0.8em;
    text-align: center;
}